/***************Bio Section***************/
.bio {
  column-gap: 7.4rem;
  row-gap: 0;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-bottom: 8rem;
}

.bio__heading {
  font-size: var(--font-size-70);
  font-weight: var(--font-weight-bold);
}

.bio__description {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-20);
  margin: 3rem 0;
}

.bio__name {
  font-weight: var(--font-weight-semi-bold);
}

.bio__link {
  font-size: 2.4rem;
  font-weight: var(--font-weight-semi-bold);
  text-decoration: none;
}

.download-cv {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 0.7rem 4rem;
}

/* Arrow animation */
@keyframes jump {
  0% {
    transform: translateY(0.5rem);
  }
  35% {
    transform: translateY(-0.5rem);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.bio__down-arrow {
  display: inline-block;
  animation: jump 1s infinite alternate ease-in-out;
}

/*Personal Picture CSS Code*/
.bio__picture-container {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-self: end;
}

.bio__picture-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 46rem;
  background-color: var(--color-box-img);
  border-radius: 1.8rem;
  z-index: -1;
  box-shadow: 2.17543px 8.7017px 38.0699px rgba(0, 0, 0, 0.15);
}

.bio__picture {
  width: 42.7rem;
  border-bottom-right-radius: 1.8rem;
  transform: scaleX(-1);
}