/***************Contact Section***************/

.contact {
  column-gap: 20rem;
  row-gap: 0;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.contact__description {
  font-size: var(--font-size-20);
  line-height: 1.9;
}
.contact__email {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-poppins);
  margin: 2.5rem 0;
}

.contact__social {
  transition: var(--transition-timing);
  margin-right: 1rem;
}
.contact__social:hover {
  transform: scale(1.2);
}

/*Contact Form*/
.form_container {
  padding: 4rem;
  border: 0.1rem solid var(--color-input-border);
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
  background-color: var(--color-grey);
}
.contact__inputs {
  display: flex;
  gap: 3rem;
}
.contact__input {
  border: 0;
  outline: 0;
  background: transparent;
  border: 0.1rem solid var(--color-input-border);
  border-radius: 0.5rem;
  padding: 1.5rem;
  flex: 1;
  font-family: var(--font-family-poppins);
  color: var(--color-text);
}
.contact__textarea {
  width: 100%;
  margin-top: 4rem;
}
.contact__button {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 1.7rem 1.8rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
  border-radius: 0.5rem;
  margin-top: 3.4rem;
  cursor: pointer;
  transition: var(--transition-timing);
}

form:invalid::before {
  content: "Please Insert A Valid Data";
  margin-bottom: 3rem;
  justify-self: center;
  display: block;
  color: var(--color-red);
  font-weight: var(--font-weight-semi-bold);
}