/***************Footer Code***************/

footer {
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  justify-self: center;
  padding: 1rem 0;
  border-top: 1px solid var(--color-input-border);
  width: 100%;
}