/*******************************************/
/***************CSS Main Code***************/
/*******************************************/
body,
[type="submit"] {
  font-size: 1.6rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
}
::-webkit-scrollbar {
  width: 10px; /* Set the desired width */
}
.container {
  display: grid;
  row-gap: 11rem;
  margin: 0 auto;
  max-width: calc(var(--container-width) + var(--gutter) * 2);
  padding-inline: var(--gutter);
}

.h2-heading {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  grid-column: 1 / -1;
  margin-bottom: 8.7rem;
  text-transform: uppercase;
}

.h3-heading {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2.5rem;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
}
.grey-bg {
  padding: 11rem 0;
}
.grey-bg::before {
  content: "";
  position: absolute;
  width: calc(100vw - 1.8rem);
  height: 100%;
  background-color: var(--color-grey);
  justify-self: center;
  z-index: -1;
}
.video-loop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.25;
}