/***************Learning Experience Section***************/

.learning__container {
  grid-column: 1/-1;
  font-size: var(--font-size-38);
  line-height: 1.7;
  color: var(--color-text);
  justify-self: center;
  align-items: center;
  display: grid;
  grid-template-columns: 10rem 1fr 10rem;
}
.learning__wrapper {
  display: flex;
  gap: 5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding-bottom: 5rem;
  scrollbar-width: thin;
}
.card {
  flex-basis: 100%;
  flex-shrink: 0;
  padding: 5rem;
  border: 0.25rem solid var(--color-input-border);
  border-radius: 2rem;
  background-color: var(--color-background);
  scroll-snap-align: start;
  width: 100%;
}
.card__header {
  display: flex;
  align-items: center;
  gap: 3rem;
  border-bottom: 0.25rem solid var(--color-input-border);
  padding-bottom: 5rem;
  height: 15rem;
}
.card__image {
  width: 12.8rem;
}
.card__title {
  font-size: var(--font-size-40);
  font-weight: var(--font-weight-bold);
}
.card__description {
  padding-top: 5rem;
  position: relative;
}

.show-certificates {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  margin-top: 1.7rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
}
.arrow__image{
  width: 6rem;
  margin: 0 2rem;
  cursor: pointer;
}
