/***************Projects Section***************/

.projects__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7.5rem;
  column-gap: 7.4rem;
}

.projects__image {
  max-width: 100%;
  background-color: #f9f3f0;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.projects__data {
  align-self: center;
}

.projects__data-description {
  line-height: 1.5;
  font-weight: var(--font-weight-semi-bold);
}

.projects__link {
  color: var(--color-darker-blue);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  margin-top: 2.3rem;
  text-decoration: none;
}
.projects__link::after {
  content: "";
  display: inline-block;
  width: 1.75rem;
  height: 1.75rem;
  background-image: url("../images/external-icon.png");
  background-size: contain;
  margin-left: 0.25rem;

}
