@use "./SCSS/variables";
@use "./SCSS/initialize";
@use "./SCSS/global";
@use "./SCSS/header";
@use "./SCSS/bio";
@use "./SCSS/skills";
@use "./SCSS/learning";
@use "./SCSS/projects";
@use "./SCSS/contact";
@use "./SCSS/footer";
@use "./SCSS/theme";
@use "./SCSS/responsive";
